.App {
  text-align: center;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.defaultImage{
  width: 150px;
  height: 150px; 
  position: absolute;
  top: 20%;
  align-items: center;
  justify-content: center;  
}

.acerto { 
  opacity: 0;
}

.erro { 
  opacity: 0;
}

.move-a{
  animation: moveltr 0.8s;
} 

@keyframes moveltr {
  0%    {opacity: 0;} 
  100%  {opacity: 1;} 
}
 

/* CSS */

.button-green{
  background-color: #2ea44f;
}

.button-red{
  background-color: #b90e0e;
}
.button-default {
  appearance: none;
  width: 80px;
  margin: 20px;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;  
  vertical-align: middle;
  white-space: nowrap;
}